<h1>Create a Game</h1>

<div>
<form action="/games" method="POST">
<label for="name"><strong>Game Name:</strong></label>
<input type="text" id="name" name="name" required>
<br><br/>
<br><br/>
<label for="publisher"><strong>Publisher:</strong></label></br><br>
<textarea name="publisher" cols="40" rows="2" id="publisher" required></textarea>
<br>
<label><strong>Rate:</strong><label><br />
<textarea name="rate" cols="40" rows="5" id="rate" required></textarea>
<br>
<input type="submit" value="Submit">
</form><br>
<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
  window.history.back();
}
</script>
</div>
