<% if flash.has?(:field_error)%>
<h3 style="color:red;"><%= flash[:field_error] %></h3>
<% end %>
       <style>
body {
  background-image: url('https://i.pinimg.com/originals/a5/c4/fd/a5c4fdfb58a4f08d05063bc2fb90cae2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<font color="white"> <h3>Select the Game to View, Edit or Delete</h3> </font>
<% @games.each do |game|%>
<ul>
<li>

<a href="/games/<%= game.id%>"><%= game.name%></a>
</ul>
<% end %>
<br><br>
<br><br>
<div class="btn-group">
<form action="/games/create_game" method=get>
<input type="submit" class="button" value="Create a game"/>
</form><br>
<form action="/profile" method=get>
<input type="submit" class="button" value="My Profile"/>
</form><br>
<form action="/logout" method=get>
<input type="submit" class="button" value="Logout"/>
</div><br>
