<% if flash.has?(:field_error)%>
<h3 style="color:red;"><%= flash[:field_error] %></h3>
<% end %>

<p><img src="https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/kronos/common/social-share/social-share-image.jpg" alt="image" style="width:800px"><h1>Welcome<h1>
<h2>Here is the God of Games.</h2></p>
<h1>Sign Up </h1>
<form action='/signup' method="POST">
 <label for="name">Username:</label>>
 <input type="text" id="username" name="username">
 <br />
 <label for="password">Password:</label>
 <input type="password" id="password" name="password">
 <br />
   <input type="submit" id="submit" value="Sign Up">
   </form>