<% if flash.has?(:field_error)%>
<h3 style="color:red;"><%= flash[:field_error] %></h3>
<% end %>
<h1>Sign Up </h1>
<form action='/singup' method="POST">
 <label for="name">Username:</label>>
 <input type="text" id="username" name="username">
 <br />
 <label for="password">Password:</label>
 <input type="password" id="password" name="password">
 <br />
   <input type="submit" id="submit" value="Sing Up">
   </form>