
<div class="container">
<div class="col-md-8 col-md-offset-2">

  <p><img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fs.yimg.com%2Fuu%2Fapi%2Fres%2F1.2%2FepJn52m5uu.d1Nmc15d5jg--%7EB%2Fdz0xNjAwO2g9OTAwO2FwcGlkPXl0YWNoeW9u%2Fhttps%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1920%252C1080%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C900%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2020-02%252F632e8860-5157-11ea-b5dd-b6ef7f824b91%26client%3Da1acac3e1b3290917d92%26signature%3D0c425c805aa8ff2fd6b6e294168190ee9e8b48fb&client=amp-blogside-v2&signature=31cf50d80662c6afa294672ace987646716454f0" alt="image" style="width:800px"><h1>Welcome<h1>

   <div class="content">
    <h2>You can store all your awesome games here!</h2><br>
    <p>To begin, please Sign Up or Login</p><br />
    <div class="btn-group">
    <form action="/login" method=get>
    <input type="submit" class="button" value="Login"/>
    </form>
    </div>
    <div class="btn-group">
    <form action="/signup" method=get>
    <input type="submit" class="button" value="Sign Up"/>
    </form>
    </div>
    </div>
    </div>
    </div>
    <style> 
      background-image: url("https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fs.yimg.com%2Fuu%2Fapi%2Fres%2F1.2%2FepJn52m5uu.d1Nmc15d5jg--%7EB%2Fdz0xNjAwO2g9OTAwO2FwcGlkPXl0YWNoeW9u%2Fhttps%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1920%252C1080%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C900%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2020-02%252F632e8860-5157-11ea-b5dd-b6ef7f824b91%26client%3Da1acac3e1b3290917d92%26signature%3D0c425c805aa8ff2fd6b6e294168190ee9e8b48fb&client=amp-blogside-v2&signature=31cf50d80662c6afa294672ace987646716454f0" )
    </style>