
<div class="container">
<div class="col-md-8 col-md-offset-2">

  <p><img src="https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/kronos/common/social-share/social-share-image.jpg" alt="image" style="width:300px"><h1>Welcome<h1>

   <div class="content">
    <h2>You can store all your awesome games here!</h2><br>
    <p>To begin, please Sing Up or Login</p><br />
    <div class="btn-group">
    <form action="/login" method=get>
    <input type="submit" class="button" value="Login"/>
    </form>
    </div>
    <div class="btn-group">
    <form action="/singup" method=get>
    <input type="submit" class="button" value="Sing Up"/>
    </form>
    </div>
    </div>
    </div>
    </div>